@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body,
:root {
  --tw-bg-opacity: 1;
  background-color: rgb(245 246 250 / var(--tw-bg-opacity));
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  max-width: "100vw";
  max-height: "100vh";
  font-family: "Roboto", sans-serif;
}
